body{
  margin: 0px;
}

header {
  padding: 2%;
  border-bottom: 2px groove brown;
}

content{
  border: 10px;
}

form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
}

input{
  margin: 10px;
  border: 2px solid brown;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li {
  padding: 1%;
  display: flex;
  justify-content: flex-start;

}

a {
  padding: 2px;
  text-decoration: none;
}

a:hover{
  color: black;
  text-decoration: underline;
}

.nav_bar {
  background: grey;
  padding: 4px;
  margin: 0px;
}

aside {
  
}
