<h3>Job Categories</h3>
<%= link_to 'add new category', new_category_path %>:
<ul>
  <% @categories.each do |category| %>
  <li>
    <%= category.title %>
    <%= link_to "Edit_#{category.id}", edit_category_path(category) %>
    <%= link_to "Delete_#{category.id}", category_path(category), method: "delete" %>
  </li>
  <% end %>
</ul>
